emoji==1.7.0
fastapi==0.75.0
flake8 @ file:///tmp/build/80754af9/flake8_1615834841867/work
gunicorn==20.1.0
huggingface-hub==0.4.0
Pillow @ file:///opt/concourse/worker/volumes/live/0aff898a-aba9-4321-76c2-58d629e96356/volume/pillow_1617386155885/work
pydantic==1.9.0
scipy==1.4.1
tensorboard==2.2.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.2.0
tensorflow-estimator==2.2.0
tokenizers==0.11.6
torch==1.10.2
torchvision==0.11.3
transformers==4.17.0
uvicorn==0.17.5
wordcloud==1.8.1